@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

#root, html, body {
  height: 100vh;
}

body {
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
